////////////////////////////////////////////////////////////////////
// WEB AFTERNOON -=- styles.scss


@import 'variables','../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss','responsive','mixins';
@import "skeleton";
@import "responsive";
@import "type";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.35em;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

header.masthead {
  margin-bottom: 5em;
  .leader {
    text-transform: uppercase;
    margin-bottom: 3em;
    font-size: 1.25em;
    @include breakpoint(xs){
      font-size: 1em;
    }
    span.detail {
     display: inline-block;
     @include breakpoint(xs){
       display: block;
     }
    }
    span.separator {
      color:#C704F6;
      display: inline-block;
      padding: inherit 4em;
      @include breakpoint(xs){
        display: none;
      }
    }
  }
}


//////////////////////////
// Typography
//////////////////////////

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

h1, h2, h3 {
  color: $brand-primary;
  font-family: $font-family-serif;
}
h4 {
  color: $gray;
  font-weight: bolder;
}

//////////////////////////
// Structure
//////////////////////////

body {
  background: url(/img/bg-wrap.jpg) center top;
  color: $gray-darker;
  padding:0;
  margin:0;
}

#content {
  background-color: #fff;
  padding-bottom: 4em;
  padding-top: 2em;
}

//////////////////////////
// Header
//////////////////////////

header {
  @extend .container;
  color: #fff;

  .cta a {
    @extend .btn;
    @extend .btn-primary;
  }

  .hero {
    @include make-row();
    h1 {
      color: #fff;
      font-weight: bold;
      text-shadow: 0 2px 0 #020202;
      @include breakpoint(md) { font-size:1.8em; }
      @include breakpoint(sm) { font-size: 1.5em; }
    }
    h2 {
      color: darken(#fff, 20%);
      text-shadow: 0 1px 0 #020202;
      @include breakpoint(md) {
        font-size:1em;
        margin-bottom:2em;
      }
      @include breakpoint(sm) {
        font-size: .8em;
      }
    }
  }

  &.full {
    background: url(/img/bg-header.jpg) no-repeat center bottom;
    margin-bottom:2em;
    margin-top:0;
    padding:3em 0 0;
    text-align: center;
    .hero {
      margin:0 auto 2em;
    }
    .brand, .message, .cta {
      @include make-sm-column(12)
    }
    .cta {
      padding-top:20px;
      a {
        @extend .btn-lg;
      }
    }
  }
  &.thin {
    margin-bottom:1em;
    margin-top:0;
    padding:1em 0 0;
    text-align: left;
    .brand {
      @include make-sm-column(1);
      img {
        @extend .img-responsive;
      }
    }
    .message {
      @include make-sm-column(9);
      h1 { font-size: 1.5em; margin: 10px 0 0; }
      h2 { font-size: 1em; margin: 0; }
    }
    .cta {
      @include make-sm-column(2);
      padding-top: 14px;
      text-align: right;
    }
  }
}



//////////////////////////
// Globals
//////////////////////////

.section-heading {
  @include make-row();
  border-bottom: 1px solid #ddd;
  .section-heading-content {
    @include make-sm-column(12);
    h1, h2, h3 {
      color: $brand-primary;
    }
  }
}

.highlight {
  margin-bottom:2em;
  text-align: center;
  p {
    font-size: 1.25em;
    margin:0;
    padding:0;
  }
}

.info-block {
  @include make-sm-column(4);
  h3, h4 {
    color: $gray;
    .fa {
      color: $brand-primary;
    }
  }
}

//////////////////////////
// Venue
//////////////////////////

iframe#eventbrite {
  width: 100%;
  margin-bottom: 3em;
  min-height: 775px;
  @include breakpoint(xs){
    min-height: 950px;
  }
}

#eventbrite-alt {
  display: none;
  margin-bottom: 6em;
  margin-top: 3em;
}

.venue {
  background-image: url('/img/venue-background.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 12em;
  .venue-info {
    background-color: white;
    padding: $column-margin;
    h3 {
      top: 0;
      left: 0;
      position: absolute;
      @include breakpoint(xs){
        left: 5%;
      }
    }
    .venue-details {
      margin-top: 2em;
      img {
        max-width: 100%;
      }
    }
  }
  .venue-nearby {
    h5 {
      border-bottom: 3px solid black;
      display: inline-block;
    }
    p strong {
      display: block;
    }
  }
}


//////////////////////////
// Speakers
//////////////////////////

.speaker {
  @extend .six;
  @extend .columns;
  margin-bottom: 4em;
  img{
    width:100%;
    margin: auto;
    background: #eee;
    border: 10px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #0865F1 0%, #C704F6 100%);
    -webkit-border-image: -webkit-linear-gradient(top left, #0865F1 0%, #C704F6 100%);
    border-image: linear-gradient(to bottom right, #0865F1 0%, #C704F6 100%);
    border-image-slice: 1;
    box-sizing: border-box;
  }
  .speakerinfo {
    margin-top: -1em;
    .social {
      float:right;
      padding:15px 0 0 0;
      font-size:1em;
      a {
        transition: color 0.8s ease;
        color: #000000;
        &:hover{
          transition: color 0.8s ease;
          color: #C704F6;
        }
      }
    }
  }
  .biotext{
    font-weight: 100;
    font-size: 1.1em;
    margin: 0;
    padding: 1em 0 0;

  }
}
//////////////////////////
// SPONSORS
//////////////////////////

.sponsor {
  img {
    width: 100%;
    max-width: 100%;
  }
}


//////////////////////////
// TICKETS
//////////////////////////

.ticket-box {
  @extend .columns;
  @extend .six;
  min-height: 386px;
  margin-top: 30px;
  position: relative;
  &>div {
    padding:1em;
  }

  .ticketheader{
    font-size: 2em;
    margin: 0;
  }

  .ticketinfo{
    font-size: .9em;
    margin-bottom: .75em;
    p {
      margin-bottom: 1em;
    }
    ul {
      li {
        margin:0 0 .35em
      }
    }
  }

  .ticket-prices {
    position: absolute;
    bottom:1em;
    left: 1em;
    p {
      margin: 0;
      padding: 0;
    }
  }

  .ticketprice {
    margin:0 auto;
    padding: 0;
    text-decoration: line-through;
  }
  .ticketprice.early-bird{
    font-size: 1.4em;
    text-decoration: none;
  }
}

.attendee-ticket{
  border: 10px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #0865F1 0%, #C704F6 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #0865F1 0%, #C704F6 100%);
  border-image: linear-gradient(to bottom right, #0865F1 0%, #C704F6 100%);
  border-image-slice: 1;
  background-color: white;
}

.vip-ticket{
  background-color: #0865F1;
  background: -webkit-linear-gradient(top left, #0865F1 , #C704F6);
  background: -o-linear-gradient(bottom right, #0865F1, #C704F6);
  background: linear-gradient(to bottom right, #0865F1 , #C704F6);
  background: -moz-linear-gradient(bottom right, #0865F1, #C704F6);
  border: 10px solid transparent;
  -moz-border-image: -moz-linear-gradient(top left, #0865F1 0%, #C704F6 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #0865F1 0%, #C704F6 100%);
  border-image: linear-gradient(to bottom right, #0865F1 0%, #C704F6 100%);
  border-image-slice: 1;
  color: white;
  margin-bottom: 5%;
}

////////////////////////////////////////////////////////////////////
// Footer
////////////////////////////////////////////////////////////////////

footer {
  background-color: black;
  background: -webkit-linear-gradient(left, #0865F1 , #C704F6);
  background: -o-linear-gradient(right, #0865F1, #C704F6);
  background: linear-gradient(to right, #0865F1 , #C704F6);
  background: -moz-linear-gradient(right, #0865F1, #C704F6);
  color: white;
  h5 {
    font-size: 1.2em;
    margin-top: 1em;
  }
  .copyright {
    font-size:.9em;
  }
}


.register-button {
  background: #fff;
  border: 6px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #0865F1 0%, #C704F6 100%);
  -webkit-border-image: -webkit-linear-gradient(top left, #0865F1 0%, #C704F6 100%);
  border-image: linear-gradient(to right, #0865F1 0%, #C704F6 100%);
  border-image-slice: 1;
  color: #000;
  font-size: 2em;
  font-weight: bold;
  margin-top: 3em;
  padding: 10px 60px;
  text-decoration: none;
  text-transform: uppercase;
  @include breakpoint(xs){
    font-size: 1em;
  }
  &:hover{
    background-color: white;
    background: -webkit-linear-gradient(left, #0865F1 , #C704F6);
    background: -o-linear-gradient(right, #0865F1, #C704F6);
    background: linear-gradient(to right, #0865F1 , #C704F6);
    background: -moz-linear-gradient(right, #0865F1, #C704F6);
    color: #fff;
  }
}

.what-to-expect {
  p {
    font-size: 1.2em;
  }
}


///////////////////////////////////////////////////////////////////////
// Branding

#web-afternoon-logo {
  text-align: center;
  img {
    // width: 200px;
    @include breakpoint(xs){
      width:100px;
    }
  }
  hr {
    border-top: 5px solid #000;
    position: relative;
    top: -140px;
    z-index: -1;
    @include breakpoint(xs){
      top: -102px;
    }
  }
}








///////////////////////////////////////////////////////////////////////
// Coming Soon Banner
.coming-soon {
  background-color: black;
  color: white;
  margin-bottom: 2em;
  h2 {
    margin:.5em 0 0;
    padding: 0;
  }
  p {
    font-size: 1.25em;
    @include breakpoint(xs){
      font-size: .9em;
    }
  }
}

// END
////////////////////////////////////////////////////////////////////
