<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>{{ page.title }} | {{ site.name }} | Web Afternoon | The event for people who love the Web.</title>
  <meta charset="UTF-8">
  <meta name="description" content="Web Afternoon - The event for people who love the Web - October 4th - Atlanta, GA">
  <meta name="keywords" content="web, conference, design, development, speakers, event">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <link href="/css/styles.css?v=2" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <script type="text/javascript" src="//use.typekit.net/inj1qkm.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container">
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <header class="row masthead">
      <div class="12 columns">
        <h1>Web Afternoon</h1>
        <h2>Design Edition</h2>
        <p class="leader"><span class="detail">February 26th &mdash; 1-6pm</span> <span class="separator">&middot;</span> <span class="detail">The Garage at Tech Square</span> <span class="separator">&middot;</span> <span class="detail">Atlanta, GA</span></p>
        <a class="register-button" href="#tickets">Get My Tickets</a>
      </div>
    </header>

    <section class="row what-to-expect">
      <article class="twelve columns">
        <h2>What to Expect</h2>
        <p>Web Afternoon is known for its amazing lineup of speakers, and you can expect more of the same at this winter’s Design Edition. We’ve strong-armed some of the industry’s finest to spend the day talking all things design and typography, in hopes it helps you, the designer, be even better at your job.</p>
      </article>
    </section>

    <div id="web-afternoon-logo">
      <img src="img/web-afternoon-logo-200w.png" alt="Web Afternoon Logo">
      <hr>
    </div>

    <header class="row">
       <div class="twelve columns">
         <h2>Speakers</h2>
      </div>
    </header>

    <section class="row" id="speakers">
      <article class="six columns speaker">
        <img src="img/beckysimpson.png" alt="Becky Simpson" />
        <div class="speakerinfo">
          <h3>Becky Simpson</h3>
          <div class="social">
            <a href="https://twitter.com/beckymsimps" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/beckymsimps/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="http://chipperthings.com/" target="_blank"><i class="fa fa-globe"></i></a>
          </div>
        </div>
        <p class="biotext">Becky is an illustrator, author and graphic designer based in Austin, Texas. She’s both author and illustrator of the book <a href="http://www.amazon.com/Id-Rather-Be-Short-Reasons/dp/0142196983" target="_blank"> I’d Rather Be Short</a> and is currently finishing up her second book, <a href="http://create.adobe.com/2015/7/1/look_at_the_book_in_progress_sketches_from_the_roommate_book_by_becky_murphy.html" target="_blank">The Roommate Book</a>. Her work reflects her passions for connection, process and play. During her Adobe creative residency, she is focused on the creative process of designing a sustainable illustration business, and is excited to experience mentorship and growth as an artist by exploring new methods and mediums.</p>
        <p class="biotext"> You can follow her on <a href="https://www.instagram.com/beckymsimps/" target="_blank">Instagram</a>, and <a href="https://twitter.com/beckymsimps" target="_blank">Twitter</a>.</p>
      </article>

      <article class="six columns speaker">
        <img src="img/meglewis.png" alt="Meg Lewis" />
        <div class="speakerinfo">
          <h3>Meg Lewis</h3>
          <div class="social">
            <a href="https://twitter.com/darngooood" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/darngooood/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://dribbble.com/darngooood" target="_blank"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
        <p class="biotext">Meg Lewis is a well sought-after designer and founder of <a href="http://ghostlyferns.com/" target="_blank">Ghostly Ferns,</a> a creative family based in Brooklyn, NY. Meg focuses on working with companies that are striving to make the world a healthier, happier place. She specializes in helping create emotional connections between businesses and their audiences by infusing personality into their brands. Meg aims to help companies make their brands fun, friendly, and delightful to interact with.</p>
      </article>
    </section>

    <section class="row">
      <article class="six columns speaker">
        <img src="img/jasonpamental.jpeg" alt="Jason Pamental" />
        <div class="speakerinfo">
          <h3>Jason Pamental</h3>
          <div class="social">
            <a href="http://www.twitter.com/jpamental" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com/jpamental" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://dribbble.com/jpamental" target="_blank"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
        <p class="biotext">Jason Pamental is Director of Design &amp; Product Experience at <a href="http://www.freshtilledsoil.com/" target="_blank">Fresh Tilled Soil</a>, a design house just outside of Boston, MA. He’s also an author (<a href="http://rwt.io/" target="_blank">Responsive Typography</a>, from <a href="http://shop.oreilly.com/" target="_blank">O’Reilly</a>), and an overall web & typography nerd who specializes in being a generalist. Jason’s work at <a href="http://www.freshtilledsoil.com/" target="_blank">FTS</a> involves leading client workshops, defining design processes, and serving as a day-to-day touchpoint and ‘block-remover’ for project teams.</p>
        <p class="biotext marg"> When he’s not at the office, you can find him speaking about design, process, and typography at conferences around the world, or, more often, following <a href="https://twitter.com/apropercollie" target="_blank">@aProperCollie</a> around Turner Reservoir, posting photos on <a href="https://twitter.com/apropercollie" target="_blank">Instagram.</a></p>
      </article>

      <article class="six columns speaker">
        <img src="img/hannahdonovan.png" alt="Hannah Donovan" />
        <div class="speakerinfo">
          <h3>Hannah Donovan</h3>
          <div class="social">
            <a href="https://twitter.com/han" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/han/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://dribbble.com/han" target="_blank"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
        <p class="biotext">Hannah Donovan is the queen of product design at <a href="https://drip.com/" target="_blank">Drip</a>, a New York-based company that supports people through their personal creative processes.Hannah is also a well-known speaker who has worked at the intersection of design, technology and music for the last decade.</p>
        <p class="biotext">Hannah’s resume is quite large, and very impressive. She’s worked in several roles for companies around the world, and she is proficient at designing across multiple platforms. She’s a classically-trained cellist who loves hip-hop and R&amp;B, as well as a classically-trained graphic designer who loves bold patterns, clashing textures, and type. </p>
      </article>
    </section>

    <section class="row">
      <article class="six columns speaker">
        <img src="img/taravictoria.png" alt="Tara Victoria" />
        <div class="speakerinfo">
          <h3>Tara Victoria</h3>
          <div class="social">
            <a href="https://twitter.com/taravictorial" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/taravictorial/" target="_blank"><i class="fa fa-instagram"></i></a>
            <a href="https://dribbble.com/TaraVictoria" target="_blank"><i class="fa fa-dribbble"></i></a>
          </div>
        </div>
        <p class="biotext">Tara Victoria is a graphic designer, and the founder of <a href="http://www.hatchandharbour.com/" target="_blank"> Hatch &amp; Harbour Design Studio</a> in Calgary, Alberta, Canada. Specializing in branding and print media, she works mainly with small businesses that have a big passion to create lasting and meaningful brands. Tara is also the author of a widely-read blog that focuses on design and fitness, two of Tara’s favorite things.</p>
      </article>
    </section>
  </div>

  <section class="venue">
    <div class="container">
      <div class="row">
        <div class="eight columns venue-info">
          <h3><span>The Garage</span> at Tech Square</h3>
          <div class="venue-details">
            <p>The Garage at Tech Square is a brand-new event venue in the heart of Atlanta.. The soft-seating club vibe draws a cool contrast with the industrial-inspired room, which offers a full stage setup and plenty of space for large crowds.</p>
            <a href="https://goo.gl/maps/U4RjgivZkLB2">
              <img src="img/venue-map.jpg" alt="The Garage at Tech Square">
              <p>848 Spring St., Atlanta, GA 30308</p>
            </a>
          </div>
        </div>
      </div>
      <div class="row venue-nearby">
        <div class="six columns">
          <h5>Parking</h5>
          <p><strong>VIPs PARK FOR FREE!</strong> Yep. Get a VIP Ticket and we'll cover your parking costs in the deck.</p>
          <p><strong>DECK PARKING</strong> Tech Square does offer parking in two different decks; hourly rates max out at a $15 flat fee for the entire day.</p>
          <p><strong>STREET PARKING</strong> The Tech Square area has lots of street parking available, and it’s all metered. If you choose to park on the street, be SURE you feed the meter. Otherwise you’ll end up with a pretty yellow envelope on your windshield that’ll cost you a pretty penny when you go to pay the ticket.</p>
        </div>
        <div class="six columns">
          <h5>Hotels</h5>
          <p>All recommended hotels are within walking distance to Tech Square, as well as to a MARTA train station that offers direct airport connections.</p>
          <p><strong><a href="http://www.gatechhotel.com/">GEORGIA TECH HOTEL</a></strong> 3 star rooms from $109<br>800 Spring St NW, Atlanta, GA 30308<br>ph: (404) 347-9440</p>
          <p><strong><a href="http://hiltongardeninn3.hilton.com/en/hotels/georgia/hilton-garden-inn-atlanta-midtown-ATLAMGI/index.html">HILTON GARDEN INN</a></strong> 3 star rooms from $109<br>97 10th St NW, Atlanta, GA 30309<br>ph: (404) 524-4006</p>
          <p><strong><a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/">RESIDENCE INN</a></strong> 3 star rooms from $109<br>1041 West Peachtree St NW, Atlanta, GA 30309<br>ph: (404) 872-8885</p>
          <p><strong><a href="http://hamptoninn3.hilton.com/en/hotels/georgia/hampton-inn-atlanta-georgia-tech-downtown-ATLGTHX/index.html">HAMPTON INN ATLANTA</a></strong> 2 star rooms from $99<br>244 North Avenue NW, Atlanta, GA 30313<br>ph: (404) 881-0881</p>
        </div>
    </div>
  </section>


  <section class="coming-soon">
    <div class="container">
      <h2>Coming Soon:</h2>
      <p>Full Schedule &amp; After-party Information. Stay Tuned.</p>
    </div>
  </section>


  <div class="container">

    <section id="tickets">

      <header class="row">
        <div class="twelve columns">
          <h2>Ticket Info</h2>
        </div>
      </header>

      <div class="row">
        <article class="ticket-box attendee-ticket">
          <div>
            <h4 class="ticketheader">Attendee Ticket</h4>
            <div class="ticketinfo">
              <p>Take part in Web Afternoon, where you&rsquo;ll hear from amazingly talented industry thought leaders on all things design and typography.</p>
              <ul>
                <li>General Admission seating</li>
                <li>Free drinks &amp; snacks during the event</li>
                <li>Free WiFi all day</li>
                <li>Free access to the after-party</li>
              </ul>
            </div>
            <div class="ticket-prices">
              <p class="ticketprice">Regular: $129 </p>
              <p class="ticketprice early-bird">Early-bird: $99 </p>
            </div>
          </div>
        </article>
        <article class="ticket-box vip-ticket">
          <div>
            <h4 class="ticketheader">VIP Ticket</h4>
            <div class="ticketinfo">
              <p>Everything from the Attendee Ticket, plus:</p>
              <ul>
                <li>Brunch with the speaker of your choice</li>
                <li>Access to the VIP / Speaker&rsquo;s Lounge </li>
                <li>Early access to the venue</li>
                <li>Reserved / Priority seating at the event</li>
                <li>Free parking all day</li>
              </ul>
            </div>
            <div class="ticket-prices">
              <p class="ticketprice">Regular: $179 </p>
              <p class="ticketprice early-bird">Early-Bird: $149 </p>
            </div>
          </div>
        </article>
      </div>
    </section>
  </div>

  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <iframe id="eventbrite" src="//eventbrite.com/tickets-external?eid=19931440475&ref=etckt&discount=earlybird" frameborder="0" marginheight="5" marginwidth="5" scrolling="no" allowtransparency="true"></iframe>
        <div id="eventbrite-alt">
          <a class="register-button" href="https://www.eventbrite.com/e/web-afternoon-design-edition-tickets-19931440475?discount=earlybird">Register on Eventbrite</a>
        </div>
      </div>
    </div>

    <header class="row">
      <div class="twelve columns">
        <h2>Sponsors</h2>
      </div>
    </header>

    <section class="row">
      <a href="http://www.sandboxcrew.com/" target="_blank" class="four columns sponsor">
        <img src="img/sandbox_300.png" alt="Sandbox Crew">
      </a>
      <a href="http://www.strongboxwest.com/" target="_blank" class="four columns sponsor">
        <img src="img/strongbox_300.png" alt="Strongbox West">
      </a>
      <a href="http://www.synergiscreative.com/" target="_blank" class="four columns sponsor">
        <img src="img/sync_300.png" alt="Sync">
      </a>
    </section>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h5>Web Afternoon is Brought To You By:</h5>
          <a href="https://ninelabs.com" target="_blank"><img class="nllogo" src="img/ninelabs_white.png" alt="Nine Labs"></a>
          <p>Nine Labs is a first-class digital design agency based in Atlanta, GA, that focuses on helping clients bring their ideas to life and achieve their business goals. They specialize in strategy and planning, creative and experience design, and digital marketing strategy.</p>
          <p class="copyright">&copy; <script>document.write(new Date().getFullYear())</script> Web Afternoon | All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/plugins.js"></script>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-48977047-6', 'auto');
    ga('send', 'pageview');
  </script>

</body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/plugins.js"></script>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-48977047-6', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>
